@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-stretch: normal;
  font-optical-sizing: auto;
  text-align: start;
  line-height: initial;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  overflow-x: hidden;
}

.debug {
  @apply border border-red-500;
}

.fade-black-gradient-180 {
  background: linear-gradient(180deg, rgba(13, 13, 13, 1) 0%, rgba(13, 13, 13, 0) 100%);
}

.fade-black-gradient-0 {
  background: linear-gradient(0deg, rgba(13, 13, 13, 1) 0%, rgba(13, 13, 13, 0) 100%);
}

.fade-black-800-gradient-180 {
  background: linear-gradient(0deg, rgba(18, 18, 18, 1) 0%, rgba(13, 13, 13, 0) 100%);
}

.bg-neutral-800-blur {
  @apply bg-[rgba(255,255,255,.065)] backdrop-blur-md backdrop-brightness-[0.3];
}

.bg-neutral-700-blur {
  @apply bg-[rgba(255,255,255,.035)] backdrop-blur-md backdrop-brightness-[0.3];
}

.hover-bg-neutral-700-blur {
  @apply hover:bg-[rgba(255,255,255,.1)] focus:hover:bg-[rgba(255,255,255,.085)];
}

.default-focus-shadow {
  @apply transition-shadow focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-neutral-900;
}
